* {
    margin: 0;
    padding: 0;
}

.big {
    width: 1920px;
    margin: auto;
    border: 2px solid black;
}


nav {
    width: 1110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
}

.logo {
    margin-top: 19px;
}

nav ul a {
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px; 
    line-height: 17px;
    padding: 22px 26px 21px 28px;
    background:  transparent;
    display: block;
    color: #515151;
    transition: color, background 0.5s;
}

nav ul a:hover {
    background-color: #515151;
    color: #f7f7f7;
}

.header_info h3 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 40px;
    color: #cb0a15;
    text-align: center;
    margin-top: 223px;
    line-height: 29px;
}

.header_info p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    color: #4d4d4d;
    text-align: center;
    margin-top: 45px;
    line-height: 17px;
}

 header strong {
    font-weight: 900;
    color: #000000;
}

header {
    background-image: url(images/headerbc.jpg);
    height: 660px;
}

main {
    width: 1110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


.right, .left {
    width: 540px;
    margin: 100px 0;
}

.left h3{
    margin-top: 63px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 19px;
    color: #000000;
    font-weight: 700;
}

.left strong {
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 700;
}

.left p {
    margin-top: 31px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #919191;
    padding-right: 5px;
}

.right {
    height: 730px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.items {
    display: flex;
    justify-content: space-between;
}

.items h3 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    line-height: 19px;
    color: #000000;
    font-weight: 700;
    padding: 13px 0 0 30px;
}

.items p {
    padding: 26px 0 0 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    color: #919191;
}

footer {
    height: 300px;
    background-color: #f9f9f9;
}

.container {
    width: 1110px;
    margin: auto;
}

.inside {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.column {
    padding-top: 52px;
}

.column h3{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 19px;
}

span {
    color: #cb0a15;
}

.column ul {
    padding-top: 22px;
    list-style: none;
}

.column ul a {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #818181;
    transition: color 0.4s;
}

.column ul a:hover {
    color:  #cb0a15;
}